body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header{
  text-align: center;
}

nav a {	
  padding: 0 10px;	
  background-color: #bbb;	
}

img {	
  display: block;	
  margin-left: auto;	
  margin-right: auto;	
}

figcaption {	
  text-align: center;	
  font-size: 10pt;	
}

#featured-property p {	
  display: block;	
  margin-left: auto;	
  margin-right: auto;	
  text-align: center;	
  width: 800px;	
}	


#details div {	
  display: block;	
  text-align: center; 	
  background-color: red;	
  float: left;	
  width: 25%;	
}

